<div class="deadline" id="countdown15">
        <div class="deadline" id="years"></div>
        <div class="deadline-colon">:</div>
        <div class="deadline" id="days"></div>
        <div class="deadline-colon">:</div>
        <div class="deadline" id="hours"></div>
        <div class="deadline-colon">:</div>
        <div class="deadline" id="minutes"></div>
        <div class="deadline-colon">:</div>
        <div class="deadline" id="seconds"></div>
        <div class="deadline-colon">:</div>
        <div class="deadline" id="milliseconds"></div>
</div>

{{!-- <div class="deadline-label" id="countdown15">
        <div class="deadline-label" id="years-label">YEARS</div>
        <div class="deadline-label" id="hours-label">HOURS</div>
        <div class="deadline-label" id="minutes-label">MINUTES</div>
        <div class="deadline-label" id="seconds-label">SECONDS</div>
        <div class="deadline-label" id="milliseconds">MILLISECONDS</div>
</div> --}}