<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- Normalize CSS --}}
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    {{!-- Adobe TypeKit Fonts --}}
    <link rel="stylesheet" href="https://use.typekit.net/yzn7tim.css">
    {{!-- Custom CSS --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- jQuery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
      <header class="flex">
        <div class="f2"><h1>{{title}}</h1></div>
        <nav class="f3">
          <ul>
            <li>ABOUT</li>
            <li>DATA</li>
            <li>HELP</li>
            <li>CONTACT</li>
          </ul>
        </nav>
      </header>
    <main>
      {{{body}}}
    </main>
    <script src="../javascripts/countdown15.js"></script>
  </body>
</html>
