<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/normalize.css">
  </head>
  <body>
    <header>
      <h1>{{title}}</h1>
    </header>
    <main>
      {{{body}}}
    </main>
    <script src="../javascripts/countdown15.js"></script>
  </body>
</html>
