body {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #010203;
}

a {
  color: #00B7FF;
}

header h1 {
  font-family: mono45-headline, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  color: #abdb92;
  padding-left: 4vh;

}

#hero {
  background-color: #abdb92;
  padding: 20vh 0;
}

.deadline {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ocr-a-std, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5vw;
  color: #010203;
  width: 100em;
}

.deadline-colon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ocr-a-std, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5vw;
}

.deadline-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ocr-a-std, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5vw;
  width: 100em;

}

.deadline-colon-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ocr-a-std, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5vw;
  color: #abdb92;
}

#countdown15 {
  width: 100vw;
  max-width: 90%;
  margin: 0 auto;
}

.label {
  font-size: 1vw;
}