body {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #010203;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 1rem 4rem;
}

.f2 {
  margin-right: auto
}

.f3 {
  flex-basis: 300px;  
}

header h1 {
  margin: 0;
  font-family: mono45-headline, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  color: #3ad531;
  letter-spacing: .1em;
}

header ul {
  font-family: mono45-headline, monospace;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2vw;
  color: #3ad531;
  letter-spacing: .1em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

header li {
  display: inline;
} 

#hero {
  background-color: #3ad531;
  padding: 20vh 4vw 20vh 0vw;
}

.deadline {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ocr-a-std, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5vw;
  color: #010203;
  width: 100em;
}

.deadline-colon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ocr-a-std, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5vw;
}

.deadline-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ocr-a-std, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5vw;
  width: 100em;

}

.deadline-colon-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ocr-a-std, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5vw;
  color: #3ad531;
}

#countdown15 {
  width: 100vw;
  max-width: 90%;
  margin: 0 auto;
}

.label {
  font-size: 1vw;
}